{% extends 'base.html' %}
year={% now 'Y' %}
{% block title %}
  admin list
{% endblock %}
{% block content %}
  <div class="row">
    <div class="">
      <div class="card">
        <div class="card-header bg-info bg-gradient text-center">
          <h1 class="text-light text-uppercase fs-3">tableau recaptulatif</h1>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-end mt-2 mb-3">
            <form class="d-flex" role="search" action="{% url 'admin_view' %}">
              <input class="form-control me-2" type="search" placeholder="filter by user" aria-label="Search" name="qu" 
              {% if qu %}
                value="{{qu}}"
              {% else %}
              {% endif %}
                >
              <input class="form-control me-2" type="text" placeholder="Filter by date" aria-label="Search" name="qd" 
              {% if qd %}
                value="{{qd}}"
                {% else %}
              {% endif %}
                >
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-dark">
              <thead class="text-center">
                <tr class="table-primary">
                  <th class="text-dark text-uppercase fs-4">date</th>
                  <th class="text-dark text-uppercase fs-4">chef post</th>
                  <th class="text-dark text-uppercase fs-4">livraison</th>
                  <th class="text-dark text-uppercase fs-4">casse</th>
                  <th class="text-dark text-uppercase fs-4">ensache</th>
                  <th class="text-dark text-uppercase fs-4">tx_casse</th>
                  <th class="text-dark text-uppercase fs-4">vrack</th>
                  
                  {% if user.is_staff %}
                  <th class="text-dark text-uppercase fs-4">action</th>
                  {% endif %}
                    
                </tr>
              </thead>
              <tbody class="text-center">
                {% for i in obj %}
                  <tr>
                    <td class="fs-5">ENS_{{ i.created|date:'d/m/o' }}</td>
                    <td class="fs-5 text-uppercase">{{ i.user }}</td>
                    <td class="fs-5">{{ i.livraison }}</td>
                    <td class="fs-5">{{ i.casse }}</td>
                    <td class="fs-5">{{ i.ensache }}</td>
                    <td class="fs-5">{{ i.tx_casse|floatformat:2 }}</td>
                    <td class="fs-5">{{ i.vrack }}</td>
                    <td class="fs-5">
                      <span class="badge text-bg-warning"><a href="{% url 'admin_update' pk=i.pk %}" class="text-light text-decoration-none">update</a></span>
                      <span class="badge text-bg-danger"><a href="{% url 'admin_delete' pk=i.pk %}" class="text-light text-decoration-none">delet</a></span>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
              <thead class="text-center">
                <tr class="table-danger">
                  <th colspan="2" class="text-end text-uppercase fs-4">total:</th>
                  <th scope="col" class="fs-4">
                    {% if liv_total.liv %}
                      {{ liv_total.liv }}
                    {% else %}
                      0
                    {% endif %}
                  </th>
                  <th scope="col" class="fs-4">
                    {% if cas_total.cas %}
                      {{ cas_total.cas }}
                    {% else %}
                      0
                    {% endif %}
                  </th>
                  <th scope="col" class="fs-4">
                    {% if ens_total.ens %}
                      {{ ens_total.ens }}
                    {% else %}
                      0
                    {% endif %}
                  </th>
                  <th scope="col" class="fs-4">
                    {% if tx_total.tx %}
                      {{ tx_total.tx|floatformat:2 }}
                    {% else %}
                      0.0
                    {% endif %}
                  </th>
                  <th scope="col" class="fs-4">
                    {% if vra_total.vra %}
                      {{ vra_total.vra }}
                    {% else %}
                      0.0
                    {% endif %}
                  </th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}/
